# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Config files
*.env
*.txt

# go build binaries
main

# deployment specific descriptors
application.yml

# code editor specific directories
.vscode
.idea

# docs can be generated using swaggo's echo-swagger 
# using the commnd line tool `swag init`
docs/
