{{ define "title-write" }}
Write | Pixelated Pen
{{ end }}

<form action="/" method="post"
    style="display: flex; flex-direction: column; width: 300px; padding: 0.5rem; row-gap: 0.5rem;">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
    <label for="content">Content</label>
    <textarea name="content" rows="12" id="content"></textarea>
    <div>
        <label for="publish">Publish</label>
        <input type="checkbox" name="publish" id="publish" />
    </div>
    <input type="submit" value="Submit" />
</form>