header>nav {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav #right-contents {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

header>nav #right-contents #logout-button {
    padding: 2px 6px;
}